<div
  data-cmp-is="image"
  data-cmp-src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1473529394/component/image.coreimg{.width}.jpeg/1718145113098/lava-into-ocean.jpeg"
  data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc"
  data-cmp-filereference="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
  id="image-de33db093d"
  data-cmp-data-layer="{&#34;image-de33db093d&#34;:{&#34;@type&#34;:&#34;core-components-examples/components/image&#34;,&#34;image&#34;:{&#34;repo:id&#34;:&#34;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&#34;,&#34;repo:modifyDate&#34;:&#34;2024-06-11T22:31:53Z&#34;,&#34;@type&#34;:&#34;image/jpeg&#34;,&#34;repo:path&#34;:&#34;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&#34;}}}"
  data-cmp-hook-image="imageV3"
  class="cmp-image"
  itemscope
  itemtype="http://schema.org/ImageObject"
>
  <img
  src=http://localhost:4502/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1473529394/component/image.coreimg.jpeg/1718145113098/lava-into-ocean.jpeg
  loading="lazy" class="cmp-image__image" itemprop="contentUrl" width="850"
  height="509" alt="Lava flowing into the ocean"/>
</div>
