<div
  data-cmp-data-layer="{&#34;text-636e165694&#34;:{&#34;@type&#34;:&#34;core/wcm/components/text/v2/text&#34;,&#34;repo:modifyDate&#34;:&#34;2024-06-07T02:35:44Z&#34;,&#34;xdm:text&#34;:&#34;&lt;ul>\r\n&lt;li style=\&#34;text-align: left;\&#34;>List item&lt;/li>\r\n&lt;li style=\&#34;text-align: left;\&#34;>List item&lt;/li>\r\n&lt;li style=\&#34;text-align: left;\&#34;>List item&lt;/li>\r\n&lt;li style=\&#34;text-align: left;\&#34;>List item&lt;/li>\r\n&lt;/ul>\r\n&lt;p style=\&#34;text-align: left;\&#34;>&amp;nbsp;&lt;/p>\r\n&lt;ol>\r\n&lt;li style=\&#34;text-align: left;\&#34;>List Item 1&lt;/li>\r\n&lt;li style=\&#34;text-align: left;\&#34;>List Item 2&lt;/li>\r\n&lt;li style=\&#34;text-align: left;\&#34;>List item 3&lt;/li>\r\n&lt;li style=\&#34;text-align: left;\&#34;>List item 4&lt;/li>\r\n&lt;/ol>\r\n&#34;}}"
  id="text-636e165694"
  class="cmp-text"
>
  <ul>
    <li style="text-align: left">List item</li>
    <li style="text-align: left">List item</li>
    <li style="text-align: left">List item</li>
    <li style="text-align: left">List item</li>
  </ul>
  <p style="text-align: left">&nbsp;</p>
  <ol>
    <li style="text-align: left">List Item 1</li>
    <li style="text-align: left">List Item 2</li>
    <li style="text-align: left">List item 3</li>
    <li style="text-align: left">List item 4</li>
  </ol>
</div>
