<div
  data-cmp-data-layer="{&#34;text-a50c3109c6&#34;:{&#34;@type&#34;:&#34;core/wcm/components/text/v2/text&#34;,&#34;repo:modifyDate&#34;:&#34;2024-06-07T02:34:24Z&#34;,&#34;xdm:text&#34;:&#34;&lt;p>&lt;b>Bold&amp;nbsp;&lt;/b>can be used to emphasize a word or phrase, as can&amp;nbsp;&lt;u>underline&lt;/u>&amp;nbsp;and&amp;nbsp;&lt;i>italics.&amp;nbsp;&lt;/i>Superscript&amp;nbsp;and&amp;nbsp;subscript&amp;nbsp;are useful for mathematical (E = mc2) or scientific (h2O) expressions. Paragraph styles can provide alternative renderings, such as quote sections:&lt;/p>\r\n&lt;p style=\&#34;text-align: left;\&#34;>&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;quot;&lt;i>Be yourself; everyone else is already taken&amp;quot;&lt;/i>&lt;/p>\r\n&lt;p style=\&#34;text-align: left;\&#34;>&amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; &amp;nbsp; - Oscar Wilde&lt;/p>\r\n&#34;}}"
  id="text-a50c3109c6"
  class="cmp-text"
>
  <p>
    <b>Bold&nbsp;</b>can be used to emphasize a word or phrase, as
    can&nbsp;<u>underline</u>&nbsp;and&nbsp;<i>italics.&nbsp;</i>Superscript&nbsp;and&nbsp;subscript&nbsp;are
    useful for mathematical (E = mc2) or scientific (h2O) expressions. Paragraph
    styles can provide alternative renderings, such as quote sections:
  </p>
  <p style="text-align: left">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; "<i
      >Be yourself; everyone else is already taken"</i
    >
  </p>
  <p style="text-align: left">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; - Oscar Wilde
  </p>
</div>
